{% load static %}
<!DOCTYPE html>
<html>
    <body style="background-color:white;"></body>
<head>
<style>
    button {
  background-color: #4CAF50; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
    <title>HELP CENTRE</title>
</head>
<body>
<u><h1 style="color:black ;">HELP  AND  SUPPORT</h1></u>
<br>

<em><h3 style="color: black;">1.In the Home Page, we have shown the popular items of different Categories , so the new customer not get confused</h3></em>
<em><h3 style="color: black;">2.For any online complaint registeration, please mail us at </h3><h3><a href="#">complain.food@email.com</a></h3></
<em><h3 style="color: black;">3.For online payment, please prefer the prevailing services for convenience.</h3></em>
<em><h3 style="color: black;">4.The coupon discount will applied automatically at the checkout.</h3></em>
<em><h3 style="color: black;">5.Do not place multiple orders, place the second order after the first has been deliverd.</h3></em>
<em><h3 style="color: black;">6.To avail or chat help facility, you can whatsapp on the following number</h3><h3><a href="#">9845972678</a></h3></em>
<em><h3 style="color: black;">7.Refund will be credited back to the account within 3-4 business days  </h3></em>

<a href="{%url 'item_list' %}"><button>BACK</button>

</body>
</html>